@import "src/colors.scss";

.contact{
    text-align: center;
margin-bottom: 130px;
width: 60%;
}


.contact form{
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.contact input{
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.contact label {
    margin: 2em 0 1em 0;
}

.contact textarea {
    height: 150px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.contact button{
    height: 50px;
        font-size: 1.2em;
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto 0 auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}
.reponse{
    font-size: 2em;
    font-weight: 700;
    color: rgba(189, 13, 13, 0.775);
    text-align: center;
    
}
